<%- include('header') -%>
<div id="'home" class="home">
  <div id="home-content" class="home-content">
    <h1>CRUD(Create, Read, Update and Delete) snippet</h1>
    <a href="/snippet" class="btn">View Snippet</a>
  </div>
</div>